@import "tailwindcss";

@theme {
  --color-s3-light: oklch(95.85% 0.013 17.38);
  --color-s3-dark: oklch(29.81% 0.138 322.75);
  --color-s3-primary: oklch(50.96% 0.191 1.69);
  --color-s3-secondary: oklch(39.64% 0.165 343.93);
  --color-s3-tertiary: oklch(82.02% 0.073 356.69);
  --color-dark-purple-base: oklch(29.4% 0.139 322.79);
  --color-dark-purple-secondary: oklch(39.32% 0.167 344.83);
  --color-dark-base: oklch(13% 0.028 261.692);
  --color-light-base: oklch(98.5% 0.002 247.839);
  --color-blue-s3-base: oklch(0.69 0.1366 239.38);
  --color-blue-s3-secondary: oklch(0.77 0.1027 235.43);
  --color-teal-s3-base: oklch(70.4% 0.14 182.503);
  --color-teal-s3-secondary: oklch(77.7% 0.152 181.912);
  --color-blue-base: oklch(54.6% 0.245 262.881);
  --color-blue-secondary: oklch(70.7% 0.165 254.624);
  --color-blue-tertiary: oklch(88.2% 0.059 254.128);
  --color-blue-quaternary: oklch(93.2% 0.032 255.585);
  --color-yellow-base: oklch(68.1% 0.162 75.834);
  --color-yellow-secondary: oklch(85.2% 0.199 91.936);
  --color-yellow-tertiary: oklch(94.5% 0.129 101.54);
  --color-red-base: oklch(57.7% 0.245 27.325);
  --color-red-secondary: oklch(70.4% 0.191 22.216);
  --color-red-tertiary: oklch(88.5% 0.062 18.334);
  --color-green-base: oklch(62.7% 0.194 149.214);
  --color-green-secondary: oklch(79.2% 0.209 151.711);
  --color-green-tertiary: oklch(92.5% 0.084 155.995);
  --color-cyan-base: oklch(60.9% 0.126 221.723);
  --color-cyan-secondary: oklch(78.9% 0.154 211.53);
  --color-cyan-tertiary: oklch(91.7% 0.08 205.041);
  --color-purple-base: oklch(55.8% 0.288 302.321);
  --color-purple-secondary: oklch(71.4% 0.203 305.504);
  --color-purple-tertiary: oklch(90.2% 0.063 306.703);
  --color-orange-base: oklch(64.6% 0.222 41.116);
  --color-orange-secondary: oklch(75% 0.183 55.934);
  --color-orange-tertiary: oklch(90.1% 0.076 70.697);
  --color-pink-base: oklch(59.2% 0.249 0.584);
  --color-pink-secondary: oklch(71.8% 0.202 349.761);
  --color-pink-tertiary: oklch(89.9% 0.061 343.231);
  --color-teal-base: oklch(60% 0.118 184.704);
  --color-teal-secondary: oklch(77.7% 0.152 181.912);
  --color-teal-tertiary: oklch(91% 0.096 180.426);
  --color-violet-base: oklch(54.1% 0.281 293.009);
  --color-violet-secondary: oklch(70.2% 0.183 293.541);
  --color-violet-tertiary: oklch(89.4% 0.057 293.283);
  --color-gray-base: oklch(37.3% 0.034 259.733);
  --color-gray-secondary: oklch(44.6% 0.03 256.802);
  --color-gray-tertiary: oklch(92.8% 0.006 264.531);
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h4 {
    @apply text-base md:text-lg lg:text-xl;
  }

  h5 {
    @apply text-sm md:text-base lg:text-lg;
  }

  h6 {
    @apply text-xs md:text-sm lg:text-base;
  }

  p {
    @apply text-base md:text-lg;
  }

  small {
    @apply text-sm md:text-base;
  }
}

@layer components {
  .section-padding-x {
    @apply px-6 sm:px-8 md:px-12 xl:px-20;
  }

  .footer-social-media-link {
    @apply text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200 w-6 h-6 transition-all duration-300;
  }

  .footer-link {
    @apply text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200 transition-all duration-300 cursor-pointer;
  }

  .large-font-size {
    @apply text-lg md:text-xl;
  }

  .medium-font-size {
    @apply text-base md:text-lg;
  }

  .small-font-size {
    @apply text-sm md:text-base;
  }

  .extra-small-font-size {
    @apply text-xs md:text-sm;
  }

  .container {
    @apply mx-auto;
  }

  /* Styling untuk animasi vinyl */
  .vinyl-spinning {
    animation: spin 2s linear infinite;
  }

  .vinyl-visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .vinyl-hidden {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .vinyl-container {
    transition: margin-right 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .audio-player-button {
    overflow: hidden;
    white-space: nowrap;
  }

  .audio-player-button.expanded {
    animation: expandButton 0.5s ease-in-out forwards;
  }

  .audio-player-button.collapsed {
    animation: collapseButton 0.5s ease-in-out forwards;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expandButton {
  0% {
    max-width: 100px;
    width: auto;
  }
  100% {
    max-width: 200px;
    width: auto;
  }
}

@keyframes collapseButton {
  0% {
    max-width: 200px;
    width: auto;
  }
  100% {
    max-width: 100px;
    width: auto;
  }
}
