@import 'tailwindcss';

@theme {
	/* Custom Fonts */
	--font-poppins: 'Poppins', sans-serif;
	--font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
	--font-aladin: "Aladin", sans-serif;
	--font-berkshire-swash: "Berkshire Swash", serif;

	/* Custom Colors */
	--color-dark-base: oklch(0.129 0.042 264.695);
	--color-light-base: oklch(0.984 0.003 247.858);
	--color-blue-base: oklch(0.546 0.245 262.881);
	--color-rose-base: oklch(0.586 0.253 17.585);
	--color-green-base: oklch(0.627 0.194 149.214);
	--color-lime-base: oklch(0.648 0.2 131.684);
	--color-yellow-base: oklch(0.681 0.162 75.834);
	--color-purple-base: #4b0254;
	--color-white-base: #faeeee;
	--color-amber-base: oklch(0.666 0.179 58.318);
	--color-emerald-base: oklch(0.596 0.145 163.225);
	--color-red-base: oklch(0.577 0.245 27.325);
	--color-rose-s3-base: #B0183D;
	--color-rose-s3-secondary: #E23C64;
	--color-yellow-s3-base: #FFD464;
}

@layer base {
	h1 {
		@apply text-2xl md:text-3xl lg:text-4xl;
	}

	h2 {
		@apply text-xl md:text-2xl lg:text-3xl;
	}

	h3 {
		@apply text-xl md:text-2xl lg:text-3xl;
	}

	h4 {
		@apply text-base md:text-lg lg:text-xl;
	}

	h5 {
		@apply text-lg md:text-xl;
	}

	h6 {
		@apply text-base lg:text-lg;
	}

	p {
		@apply text-sm sm:text-base;
	}

	small {
		@apply text-xs lg:text-sm;
	}
}

@utility container {
	@apply mx-auto;
}

@layer components {
	.section-padding-x {
		@apply px-4 sm:px-4 xl:px-12;
	}

	.section-padding-x-sm {
		@apply px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12;
	}

	.large-font-size {
		@apply text-lg md:text-xl lg:text-2xl;
	}

	.big-font-size {
		@apply text-base md:text-lg lg:text-xl;
	}

	.medium-font-size {
		@apply text-sm md:text-base lg:text-lg;
	}

	.normal-font-size {
		@apply text-base md:text-lg;
	}

	.small-font-size {
		@apply text-sm md:text-base;
	}

	.extra-small-font-size {
		@apply text-xs md:text-sm;
	}

	.footer-social-media-link {
		@apply h-6 w-6 text-gray-700 transition-all duration-300 hover:text-gray-900;
	}

	.footer-link {
		@apply cursor-pointer text-gray-700 transition-all duration-300 hover:text-gray-900;
	}

	/* Hides scrollbar for Chrome, Safari and Opera */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* Hides scrollbar for IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
